<div class="popup-container">
  <div class="popup-title">
    <div mat-dialog-title>{{ data.name }}</div>
    <mat-icon [matDialogClose]="true">cancel</mat-icon>
  </div>
  <div mat-dialog-content>
    <img #imgElementTmpl [src]="data.path" [alt]="data.name"
         [ngStyle]="{ transform, width: this.zoomedToFit && '100%', height: this.zoomedToFit && '100%' }">
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="zoomToFit()">Zoom to Fit</button>
    <mat-icon (click)="zoomIn()">zoom_in</mat-icon>
    <mat-icon (click)="zoomOut()">zoom_out</mat-icon>
  </div>
</div>
