.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 50px;
  }

  .mat-list {
    border: 1px solid #000;
    border-radius: 5%;
    padding: 10px;

    .mat-list-item {
      margin-top: 10px;

      .mat-list-item-content {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .image-info {
          display: flex;
          flex-direction: column;
          gap: 5px
        }
      }
    }
  }
}
